.app {
  display: flex;
  height: 100vh;
  background: #dadbd3;
  justify-content: center;
  align-items: center;
}

.app__content {
  display: flex;
  background-color: #ededed;
  height: 75%;
  width: 75%;
  box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.35);
}
a {
  text-decoration: none;
}

#__react-alert__ div div div {
  width: auto !important;
}
